registry=https://nexus.cyberalpha.cc/repository/npm-group/

# 针对 hosted（如果要发布）
@nexus-scope:registry=https://nexus.cyberalpha.cc/repository/npm-group/
//nexus.cyberalpha.cc/repository/npm-group/:_auth="Y2ljZDokayxbRUEyUHE7aElEZDV7"
always-auth=true