/* 改变整体图表的背景色 */
.tv-light .chart-page {
  background-color: #9c0d0d !important;
}

/* 改变volume部分背景色 */
.tv-light .tv-widget-iframe {
  background-color: #a30527 !important;
}

/* 修改价格轴的背景色 */
.tv-light .pane {
  background-color: #c40a0a !important;
}

/* 自定义标题字体 */
.tv-light .tv-widget-title {
  font-size: 18px !important;
  color: #ff5733 !important;
}

.dateRangeWrapper-BXXUwft2 {
  display: none;
}

:root {
    --tv-color-pane-background: #131416;
    --tv-color-platform-background: #1A1B1E;
    --tv-color-toolbar-button-text: #9DA3AF;
    --tv-color-toolbar-button-text-active: rgb(71, 208, 165);
    --tv-color-toolbar-button-text-active: #ffffff;
    --tv-color-toolbar-button-text-active-hover: #ffffff;
    --tv-color-toolbar-toggle-button-background-active-hover: #383A40;
    --tv-color-toolbar-toggle-button-background-active: #383A40;
    --tv-color-popup-element-background-active:#383A40;
    --tv-color-popup-background: #1A1B1E;
}
.item-BXXUwft2 {
  --ui-lib-typography-font-size: 12px;
}

.titleWrapper-l31H9iuA .title-l31H9iuA,
.toolbar-qqNP9X6e,
.value-gwXludjS,
html.theme-dark .item-GJX1EXhk.interactive-GJX1EXhk {
  font-size: 12px !important;
}

.series-l31H9iuA .valuesWrapper-l31H9iuA {
  font-size: 12px !important;
}
.accessible-KTgbfaP5 .bg-KTgbfaP5:before {
  width: 22px;
  height: 22px;
}
.button-KTgbfaP5 .icon-KTgbfaP5 svg {
  width: 18px;
  height: 18px;
}
html.theme-dark .button-KTgbfaP5.isTransparent-KTgbfaP5.isActive-KTgbfaP5 .bg-KTgbfaP5 {
  width: 28px;
  height: 28px;
}
html.theme-dark .button-KTgbfaP5,
.control-pbhJWNrt,
.inner-BfVZxb4b{
  width: 36px !important;
}
.content-Z4M3tWHb {
  align-items: center;
}
html.theme-dark .dialog-aRAWUDhF {
  background-color: #1A1B1E;
}
.title-BZKENkhT {
  font-size: 16px !important;
}
.icon-znwuaSC1 svg {
  width: 14px !important;
  height: 14px !important;
}
html.theme-dark .nav-button-znwuaSC1 {
  padding-right: 0;
}
.item-jFqVJoPk,
.label-GJX1EXhk {
  font-size: 12px !important;
}
.icon-jFqVJoPk svg {
  width: 18px !important;
  height: 18px !important;
}
.icon-GJX1EXhk.checkmark-GJX1EXhk svg {
  width: 12px !important;
}