/* 改变整体图表的背景色 */
.tv-light .chart-page {
  background-color: #9c0d0d !important;
}

/* 改变volume部分背景色 */
.tv-light .tv-widget-iframe {
  background-color: #a30527 !important;
}

/* 修改价格轴的背景色 */
.tv-light .pane {
  background-color: #c40a0a !important;
}

/* 自定义标题字体 */
.tv-light .tv-widget-title {
  font-size: 18px !important;
  color: #ff5733 !important;
}

.dateRangeWrapper-BXXUwft2 {
  display: none;
}

:root {
    --tv-color-pane-background: #131416;
    --tv-color-platform-background: #1A1B1E;
    --tv-color-toolbar-button-text: #9DA3AF;
    --tv-color-toolbar-button-text-active: rgb(71, 208, 165);
    --tv-color-toolbar-button-text-active: #ffffff;
    --tv-color-toolbar-button-text-active-hover: #ffffff;
    --tv-color-toolbar-toggle-button-background-active-hover: #383A40;
    --tv-color-toolbar-toggle-button-background-active: #383A40;
    --tv-color-popup-element-background-active:#383A40;
    --tv-color-popup-background: #1A1B1E;
    --tv-toolbar-opened-element-hover-margin: 4px;
    --tv-toolbar-explicit-hover-margin: 4px;
    --ui-lib-checkbox-color-accent: #2a2e39;
    
}
html.theme-dark .wrapper-GZajBGIm .box-GZajBGIm:before {
  border-color: #2a2e39;
}
.size-small-D4RPB3ZC {
  height: 26px !important;
  border-radius: 4px !important;
}
.footer-PhMf7PhQ {
  padding: 8px 20px !important;
}
.size-small-D4RPB3ZC .content-D4RPB3ZC {
    --ui-lib-typography-font-size: 12px !important;
}
html.theme-dark .themesButtonText-w7kgghoW {
  height: 28px !important;
}
.themesButtonText-w7kgghoW {
  font-size: 12px !important;
}
html.theme-dark .color-brand-D4RPB3ZC.variant-secondary-D4RPB3ZC {
  --ui-lib-button-default-color-content: #434651;
  --ui-lib-button-default-color-border: #434651;
}
html.theme-dark .color-brand-D4RPB3ZC.variant-primary-D4RPB3ZC {
  --ui-lib-button-default-color-border: #434651 !important;
  --ui-lib-button-default-color-bg: #434651 !important;
}
@media not all and (pointer: coarse) {
    .color-brand-D4RPB3ZC.variant-secondary-D4RPB3ZC:hover {
        --ui-lib-button-default-color-border: #434651 !important;
        --ui-lib-button-default-color-content: #fff !important;
    }
    html.theme-dark .color-brand-D4RPB3ZC.variant-secondary-D4RPB3ZC:hover {
      --ui-lib-button-default-color-border: #434651 !important;
      --ui-lib-button-default-color-content: #fff !important;
        
    }
    html.theme-dark .color-brand-D4RPB3ZC.variant-secondary-D4RPB3ZC:hover {
      --ui-lib-button-default-color-bg: #434651;
    }

}
.item-BXXUwft2 {
  --ui-lib-typography-font-size: 12px;
}
.intent-primary-WDZ0PRNh {
  --ui-lib-intent-highlight-color: #434651;
}

.titleWrapper-l31H9iuA .title-l31H9iuA,
.toolbar-qqNP9X6e,
.value-gwXludjS,
html.theme-dark .item-GJX1EXhk.interactive-GJX1EXhk {
  font-size: 12px !important;
}

.series-l31H9iuA .valuesWrapper-l31H9iuA {
  font-size: 12px !important;
}
.accessible-KTgbfaP5 .bg-KTgbfaP5:before {
  width: 22px;
  height: 22px;
}
.button-KTgbfaP5 .icon-KTgbfaP5 svg {
  width: 18px;
  height: 18px;
}
html.theme-dark .button-KTgbfaP5.isTransparent-KTgbfaP5.isActive-KTgbfaP5 .bg-KTgbfaP5 {
  width: 28px;
  height: 28px;
}
html.theme-dark .button-KTgbfaP5,
.control-pbhJWNrt,
.inner-BfVZxb4b{
  width: 36px !important;
}
.content-Z4M3tWHb {
  align-items: center;
}
html.theme-dark .dialog-aRAWUDhF {
  background-color: #1A1B1E;
}
.title-BZKENkhT {
  font-size: 16px !important;
}
.icon-znwuaSC1 svg {
  width: 14px !important;
  height: 14px !important;
}
html.theme-dark .nav-button-znwuaSC1 {
  padding-right: 0;
}
.item-jFqVJoPk,
.label-GJX1EXhk {
  font-size: 12px !important;
}
.icon-jFqVJoPk svg {
  width: 18px !important;
  height: 18px !important;
}
.momentumBased-Kq3ruQo8 .icon-jFqVJoPk svg {
  width: 28px !important;
  height: 28px !important;
  transform: scale(0.7) !important;
}
.icon-GJX1EXhk.checkmark-GJX1EXhk svg {
  width: 12px !important;
}
.wrap-wXGVFOC9 svg {
  transform: scale(0.8);
}
.icon-WB2y0EnP svg {
  width: 16px !important;
  height: 4px !important;
}
.close-BZKENkhT {
  margin: 1px -10px 1px 0 !important;
}
.title-BZKENkhT {
  padding: 8px 0 !important;
}
.size-medium-znwuaSC1 {
  width: 21px !important;
  height: auto !important;
}
.icon-nGEmjtaX,
.icon-nGEmjtaX svg {
  width: 18px !important;
  height: 18px !important;
}
.title-nGEmjtaX {
  --ui-lib-typography-font-size: 12px !important;
}
.checkbox-vyj6oJxw,
.cell-tBgV1m0B .inner-tBgV1m0B,
.cell-tBgV1m0B.first-tBgV1m0B {
  font-size: 12px !important;
}
.menuBox-Kq3ruQo8 [data-name="copy-link-to-the-chart-image"] {
  display: none !important;
}

.menuBox-Kq3ruQo8 [data-name="open-image-in-new-tab"] {
  display: none !important;
}

.menuBox-Kq3ruQo8 [data-name="tweet-chart-image"] {
  display: none !important;
}

.icon-GJX1EXhk svg {
  transform: scale(0.7) !important;
}
.errorCard_size_big-S9sXvhAu .errorCard__message-S9sXvhAu {
  font-size: 14px !important;
}

.layout__area--top .toolbar-qqNP9X6e {
  padding-left: 160px !important;
  background-color: #131416;
}
.series-l31H9iuA .titlesWrapper-l31H9iuA {
  display: none !important;
}

html.theme-dark .tv-area-mode .button-GwQQdU8S.isInteractive-GwQQdU8S.isActive-GwQQdU8S{
  color: #9DA3AF !important;
}

.common-tooltip__hotkey-block--divider-EJBD96zX {
  display: none !important;
}
.common-tooltip__hotkey-text-EJBD96zX {
  padding-right: 6px !important;
}