/* 改变整体图表的背景色 */
.tv-light .chart-page {
  background-color: #9c0d0d !important;
}

/* 改变volume部分背景色 */
.tv-light .tv-widget-iframe {
  background-color: #a30527 !important;
}

/* 修改价格轴的背景色 */
.tv-light .pane {
  background-color: #c40a0a !important;
}

/* 自定义标题字体 */
.tv-light .tv-widget-title {
  font-size: 18px !important;
  color: #ff5733 !important;
}
