._Wrapper_p0de2_23 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100lvh;
    pointer-events: auto;
    touch-action: none;
    background: #421d1d;
}
    
._useCasesListingContent_o02cl_34 {
    position: sticky;
    top: 88px;
    padding-bottom: 1rem;
    overflow: hidden;
    background-color: aquamarine;
}
._useCasesListingContent_o02cl_34 {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        height: calc(100vh - 80px);
    }