@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Poppins-Light';
  src: url('./fonts/Poppins-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('./fonts/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('./fonts/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

.font-light {
  font-family: 'Poppins-Light', sans-serif;
  font-weight: 300;
}
.font-normal {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.font-medium {
  font-family: 'Poppins-Medium', sans-serif;
  font-weight: 500;
}
.font-bold {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

body {
  background-color: #06070A;
  min-height: 100vh;
  font-family: 'Poppins';
}

@layer utilities {
  .text-80 {
    color: rgba(255, 255, 255, 0.8);
  }
  .shadow-1 {
    background:
    linear-gradient(
      267.03deg,
      #00F0FF 4.01%,
      #5200FF 57.55%,
      #FF2DF7 114.97%
    );
  box-shadow: 0 0 40px rgba(156, 255, 58, 0.5),
              0 0 80px rgba(82, 0, 255, 0.4),
              0 0 120px rgba(255, 45, 247, 0.3);
  border-radius: 624px;
    backdrop-filter: blur(624px);
  }
  .circle-bg {
    border-radius: 50%;
    background: radial-gradient(
        circle at center,
        #9CFF3A 0%,
        transparent 40%
      ),
      linear-gradient(
        267.03deg,
        #00F0FF 4.01%,
        #5200FF 57.55%,
        #FF2DF7 114.97%
      );
    filter: blur(624px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
  }
  .circle-bg2 {
    width: 895px;
    height: 895px;
    border-radius: 50%;
    background: radial-gradient(
      50% 50% at 50% 50%, 
      #1B255E 0%,       
      rgba(27, 37, 94, 0) 100% 
    );
    backdrop-filter: blur(200px); 
  }

  .scale-quarter {
    transform: scale(0.25); /* 1/4 = 缩小4倍 */
    transform-origin: center; /* 缩放中心点，可改为 top left 等 */
  }
  .star-1 {
    left: 8px;
    top: 208px;
  }
  .star-2 {
    left: 50%;
    transform: translateX(-200px);
    top: 131px;
  }
  .star-3 {
    right: 50%;
    transform: translateX(270px);
    top: 166px;
  }
  .star-4 {
    right: 12px;
    top: 309px;
  }

  .star-5 {
    left: 209px;
    top: 448px;
  }
  .star-6 {
    left: 14px;
    top: 587px;
  }
  .star-7 {
    left: 331px;
    top: 672px;
  }

  .drop-shadow {
    filter: drop-shadow(0 0 35px rgba(157, 255, 58, 0.5));
  }
  .box-shadow {
    box-shadow: 0 0 35px 0 rgba(157, 255, 58, 0.5);
  }

}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
