@import "tailwindcss";

body {
  background-color: #06070A;
  min-height: 100vh;
}

@layer utilities {
  .shadow-1 {
    background:
    linear-gradient(
      267.03deg,
      #00F0FF 4.01%,
      #5200FF 57.55%,
      #FF2DF7 114.97%
    );
  box-shadow: 0 0 40px rgba(156, 255, 58, 0.5),
              0 0 80px rgba(82, 0, 255, 0.4),
              0 0 120px rgba(255, 45, 247, 0.3);
  border-radius: 624px;
    backdrop-filter: blur(624px);
  }
  .circle-bg {
    border-radius: 50%;
    background: radial-gradient(
        circle at center,
        #9CFF3A 0%,
        transparent 40%
      ),
      linear-gradient(
        267.03deg,
        #00F0FF 4.01%,
        #5200FF 57.55%,
        #FF2DF7 114.97%
      );
    filter: blur(624px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
  }
  .scale-quarter {
    transform: scale(0.25); /* 1/4 = 缩小4倍 */
    transform-origin: center; /* 缩放中心点，可改为 top left 等 */
  }
  .star-1 {
    left: 8px;
    top: 208px;
  }
  .star-2 {
    left: 50%;
    transform: translateX(-200px);
    top: 131px;
  }
  .star-3 {
    right: 50%;
    transform: translateX(270px);
    top: 166px;
  }
  .star-4 {
    right: 12px;
    top: 309px;
  }

  .star-5 {
    left: 209px;
    top: 448px;
  }
  .star-6 {
    left: 14px;
    top: 587px;
  }
  .star-7 {
    left: 331px;
    top: 672px;
  }
}
